*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/space.jpg")
}


.red{
    height: 125px;
    background: red;
    margin: 5px;    
}

.blue{
    height: 125px;
    background: blue;
    margin: 5px; 
}

.purple{
    height: 125px;
    background:purple;
    margin: 5px; 
}

.green{
    height: 125px;
    background:rgb(96, 172, 25);
    margin: 5px; 
}

.pink{
    height: 125px;
    background:pink;
    margin: 5px; 
}

.brown{
    height: 125px;
    background: brown;
    margin: 5px; 
}

.cyan{
    height: 125px;
    background:cyan;
    margin: 5px; 
}

.black{
    height: 125px;
    background:black;
    margin: 5px; 
}


.card{
    height: 125px;
    background: lightgrey;
    margin: 5px;
}

.modal{  
    height: 250px;
    background-color: pink;  
    width: 350px;
    margin: 0 auto;  
    position: absolute;
    top: 150px;
    text-align: center;   
}

.modal-content{  
    display: inline-block;    
    
}

#easy{
    margin: 0;
}

input {
    margin-left: 40px;
        
}

#finish{    
    text-align: center;
}

.score{
    height: 100px;
    background: lightcoral;
    margin: 5px; 
    text-align: center;
    line-height: 100px;    
}

@media screen and (max-width: 768px) {
  .card {
      height: 100px;
  }
} 

@media screen and (max-width: 576px) {
  .card {
      height: 75px;
  }
} 















