.container{
    margin: 40px auto;
}

.red{
    height: 150px;
    background: red;
    margin: 5px;    
}

.blue{
    height: 150px;
    background: blue;
    margin: 5px; 
}

.green{
    height: 150px;
    background: green;
    margin: 5px; 
}

.card{
    height: 150px;
    background: lightgrey;
    margin: 5px;
}




